ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0px;
    left: 50px;
    width: 100%;

  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    font-family: 'Poppins';
    font-size: 15px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    color: blue;
    text-decoration: underline;
  }
  
  .active {
    color: blue;
  }


  #ul2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 65px;
    width: 100%;
    top: 760px;

  }