ul {

    text-align: center;
    padding: 0%;
  }
  
  li {
    /* float: none; */
    display: inline-block;
    list-style-type: none;
    
    
  }
  
  li a {
    font-family: 'Poppins';
    font-size: 15px;
    color: black;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    /* display: inline-block; */
    /* list-style-type: none; */

  
  }
  
  li a:hover:not(.active) {
    color: blue;
    text-decoration: underline;
  }
  
  .active {
    color: blue;
  }


  #ul2 {
    list-style-type: none;
    /* margin: 0; */
    /* padding: 0; */
    /* overflow: hidden; */
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    /* margin-left: auto;
    margin-right: auto; */
    /* padding: 0%; */
    /* text-decoration: none; */
    /* top: 760px; */
  }