/* Split the screen */
.split {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  
  /* Control the left side */
  .left {
    width: 30%;
    left: 0;
    background-color: blue;
  }
  
  
  /* Control the right side */
  .right {
    width: 70%;
    right: 0;
    background-color: red;
  }