  /* if desktop */
  .mobile_device_380px {
    display: none;
}
.mobile_device_480px {
    display: none;
}


/* if mobile device max width 380px */
@media only screen and (max-device-width: 380px) {
    .mobile_device_380px{display: block;}       
    .desktop {display: none;}
} 

/* if mobile device max width 480px */
@media only screen and (max-device-width: 480px) {
   .mobile_device_480px{display: block;}
   .desktop {display: none;}
}





body, html {
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
}

html {
    position: relative;
   }

body {
    background: #000;
    color: #000;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

#mydiv {
    position: absolute;
    z-index: 9;
    width: 250px;
    height: 250px;
    top: 300px;
    left: 100px;
    background-color: #f1f1f1;
    border: 2px solid #e8ff26;
    text-align: center;
    box-shadow: 2px 2px 10px #888888;
}

  
#mydivheader {
    padding: 3px;
    cursor: move;
    z-index: 10;
    background-color: #e8ff26;
    color: black;
}