/* if desktop */
.mobile_device_380px {
    display: none;
}
.mobile_device_480px {
    display: none;
}


/* if mobile device max width 380px */
@media only screen and (max-device-width: 380px) {
    .mobile_device_380px{display: block;}       
    .desktop {display: none;}
}

/* if mobile device max width 480px */
@media only screen and (max-device-width: 480px) {
   .mobile_device_480px{display: block;}
   .desktop {display: none;}
}


/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap'); */


body, html {
    /* min-height: 100vh; */
    /* margin: 0px; */
    /* padding: 0px; */
    margin-left: auto;
    margin-right: auto;
}

html {
    position: relative;
   }

body {
    background: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

h1 {
    color: black;
}

h2 {
    color: black;
}

h3 {
    font-family: 'Poppins';
    font-size: 100px;
    color: black;
}


h4 {
    font-family: 'Poppins';
    font-size: 40px;
    color: black;
}



#mydiv {
    position: absolute;
    z-index: 0;
    width: 250px;
    height: 250px;
    top: 400px;
    left: 500px;
    background-color: black;
    border: 2px solid #e8ff26;
    text-align: center;
    box-shadow: 2px 2px 4px #888888;
}

#mydiv2 {
    position: absolute;
    z-index: 0;
    width: 500px;
    height: 500px;
    top: 80px;
    left: 700px;
    background-color: whitesmoke;
    border: 2px solid #e8ff26;
    text-align: center;
    box-shadow: 2px 2px 4px #888888;
}


#mydivMob {
    position: absolute;
    z-index: 0;
    width: 300px;
    height: 300px;
    top: 300px;
    left: 50px;
    background-color: black;
    border: 2px solid #e8ff26;
    text-align: center;
    box-shadow: 2px 2px 4px #888888;
}

  
#mydivheader {
    padding: 3px;
    cursor: move;
    z-index: 0;
    border: 2px solid #e8ff26;
    background-color: #e8ff26;
    color: black;
}

#title1 {
    position: absolute;
    z-index: 0;
    width: 600px;
    height: 5px;
    top: 10px;
    left: 50px;
    background-color: rgba(255, 165, 0, 0.0);
    text-align: left;
}

#title2 {
    position: absolute;
    z-index: 0;
    width: 600px;
    height: 5px;
    top: 10px;
    left: 520px;
    background-color: rgba(255, 165, 0, 0.0);
    text-align: left;
}



#title1Mob {
    position: absolute;
    z-index: 0;
    width: 400px;
    height: 5px;
    top: 10px;
    left: 40px;
    background-color: rgba(255, 165, 0, 0.0);
    text-align: center;
}
