/* if desktop */
.mobile_device_380px {
    display: none;
}
.mobile_device_480px {
    display: none;
}


/* if mobile device max width 380px */
@media only screen and (max-device-width: 380px) {
    .mobile_device_380px{display: block;}       
    .desktop {display: none;}
}

/* if mobile device max width 480px */
@media only screen and (max-device-width: 480px) {
   .mobile_device_480px{display: block;}
   .desktop {display: none;}
}


/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap'); */


body, html {
    /* min-height: 100vh; */
    /* margin: 0px; */
    /* padding: 0px; */
    margin-left: auto;
    margin-right: auto;
}

html {
    position: relative;
   }

body {
    background: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

h1 {
    color: black;
}

h2 {
    color: black;
}

h3 {
    font-family: 'Space Mono';
    font-size: 29px;
    color: black;
}


h4 {
    font-family: 'Space Mono';
    font-size: 13px;
    color: black;
    text-align: center;
}

a{
    color: black;
    text-decoration: none;
}

a:hover {
    color: blue;
    text-decoration: underline;
  }


h5 {
    font-family: 'Space Mono';
    font-size: 26px;
    color: black;
    text-align: center;
}

h6 {
    font-family: 'Space Mono';
    font-size: 12px;
    color: black;
    text-align: left;
}






#MyClockDisplay {
    font-family: 'Poppins';
    font-size: 15px;
    color: blue;
    text-align: center;
    position: fixed;
    top: 280px;
    left: 65px;
}


#MyClockDisplay2 {
    font-family: 'Space Mono';
    font-size: 15px;    
    color: blue;
    text-align: left;
    position: fixed;
    top: 300px;
    left: 65px;
}




/* Title Ibrahim Ibrahim */
#title1 {
    position: fixed;
    z-index: 0;
    width: 200px;
    height: 5px;
    top: 20px;
    left: 65px;
    background-color: rgba(255, 165, 0, 0.0);
    text-align: left;
}

#title2 {
    position: fixed;
    z-index: 0;
    width: 100px;
    height: 5px;
    top: 20px;
    left: 240px;
    background-color: rgba(255, 165, 0, 0.0);
    text-align: left;
}




